<!doctype html>
<html ng-app="uiApp">
<head>
<title>恶意域名检测</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/rabbitstrap.css">
<link rel="stylesheet" href="/static/css/typicons/typicons.min.css">
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/angular-route.min.js"></script>
<script src="/static/js/angular-animate.min.js"></script>
<script src="/static/js/app.js"></script>
</head>
<body ng-controller="RootController">
    <div style="position: fixed; z-index: 100; background: #eee; width: 100%; top: 0; padding: 10px; border-bottom: 1px solid #ddd">
        <div class="rs-container">
            <div class="rs-add-inline-block">
                <a href="/" class="rs-add-block" style="width: 300px">
                    <img class="rs-logo" src="/static/img/logo.png">
                    <label class="rs-active rs-add-pointer" style="position: absolute; margin-top: px; margin: 15px; font-size: 18px;">
                        恶意域名检测 <span class="rs-badge rs-badge-primary">V1.0</span>
                    </label>
                </a>
            </div>             
            <form class="rs-add-inline-block" style="position: absolute; margin-top: 10px" ng-submit="doSearch(query)">
                <input ng-model="query" type="text" class="rs-input-text" placeholder="输入域名，例如：QQ.COM" style="width: 400px">
                <button type="submit" class="rs-btn rs-btn-primary" ng-click="doSearch(query)">开始检测</button>
            </form>
        </div>
    </div>
    <div class="rs-pack-height-50"></div>
    <div class="rs-container">
        <hr style="border-bottom: 1px dashed white" class="rs-margin-top-20 rs-margin-bottom-20">
        <div ng-view></div>
    </div>
</body>
</html>
